#latex:
*.toc
*.log
*.aux
*.pdf
*.Rdata
*.Rhtml
*.Rmw
*.html
*.tex~
*.Rhistory
*.synctex.gz
*.thm
*.out
*.zip
*.gz
*.gz(busy)
ctex.tex
duo.tex
duoyuan.tex
gougu.tex
zonghepingjia.*
zonghepingjia-concordance.tex
pkuthss-1.2beta/
ctex/
*.lyx
2014.tex
*-concordance.tex
*.java
setup/

